$yellow-color: #ffd15b;

.header-container {
    height: 665px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    background-image: url("assets/images/lampos-aritonang-24gR_9lCdes-unsplash 1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.header-title-container {
    display: flex;
    padding-left: 69px;
    padding-top: 80px;
    gap: 5px;
}

.description-text-container {
    display: flex;
    width: 895px;
    height: 132px;
    position: relative;
    top: 206px;
    left: 275px;
}

.description-text {
    color: $yellow-color;
    text-transform: uppercase;
    font-family: "Anton";
    font-size: 44px;
    font-weight: 400;
}
