$yellow-color: #ffd15b;

body {
    margin: unset;
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    flex-direction: column;
}

.main-header {
    height: 746px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-image: url("assets/images/lampos-aritonang-24gR_9lCdes-unsplash 1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.header-title-container {
    display: flex;
    margin-left: 69px;
    margin-top: 80px;
    gap: 5px;
}

.description-text-container {
    display: flex;
    width: 895px;
    height: 132px;
    position: relative;
    top: 20%;
    left: 26%;
    line-height: 70px;
}

.description-text {
    color: $yellow-color;
    text-transform: uppercase;
    font-family: "Anton";
    font-size: 44px;
    font-weight: 400;
    text-align: center;
}

.searchbar-container {
    display: flex;
    background-color: white;
    width: 954px;
    height: 62px;
    position: relative;
    top: 33%;
    left: 24%;
    padding: 10px;
    border-radius: 11px;
}
.searchbar-input {
    width: 93%;
    padding: 1%;
    border: none;
}
.searchbar-input:focus {
    outline: none;
}
.searchbar-icone {
    background-color: black;
    width: 50px;
    margin: 3px;
    border-radius: 11px;
    padding: 6px;
}

//css for the component RECIPE
.recipe-container {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 731px;
    border-radius: 21px;
    background-color: #fff;
}

.img-container {
    width: 380px;
    height: 253px;
}
.recipe-img {
    width: 380px;
    height: 253px;
    border-top-right-radius: 21px;
    border-top-left-radius: 21px;
    object-fit: cover;
}

.recipe-title {
    color: black;
    font-family: "Anton";
    font-size: 18px;
    font-weight: 400;
    padding-top: 32px;
    padding-left: 25px;
}

.second-title {
    font-family: "Manrope";
    font-size: 12px;
    font-weight: 700;
    color: #7a7a7a;
    text-transform: uppercase;
    padding-top: 29px;
    padding-left: 25px;
}

.recipe-instructions {
    color: black;
    font-family: "Manrope";
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

.ingredient-list {
    font-family: "Manrope";
    font-size: 14px;
    font-weight: 500;
    list-style-type: none;
}

.ingredient-complement {
    font-family: "Manrope";
    font-size: 14px;
    font-weight: 400;
    color: #7a7a7a;
    padding-top: 5px;
}

.recipeList-container {
    background-color: #e5e5e5;
    display: flex;
    flex-direction: row;
    gap: 102px;
    flex-wrap: wrap;
    padding: 109px;
    justify-content: center;
}

.ingredientList-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    gap: 20px;
}

.ingredient-list {
    font-family: "Manrope";
    font-size: 14px;
    font-weight: 500;
    list-style-type: none;
}

.recipeList-container {
    background-color: #ededed;
    display: flex;
    flex-direction: row;
    gap: 102px;
    flex-wrap: wrap;
    padding: 109px;
    justify-content: center;
}

//ccs for filter

.filters-container {
    background-color: #ededed;
    display: flex;
    gap: 66px;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 134px;
    padding-top: 25px;
    max-height: 100px;
}

.filter-container {
    display: flex;
    flex-direction: column;
    width: 195px;
    height: 315px;
    border-radius: 11px;
}

.open {
    width: 195px;
    height: 56px;
    justify-content: center;
    align-items: center;
    font-family: "Manrope";
    font-size: 16px;
    font-weight: 500;
    display: flex;
    cursor: pointer;
    background-color: #fff;
    border-top-right-radius: 11px;
    border-top-left-radius: 11px;
}
.closed {
    width: 195px;
    height: 56px;
    justify-content: center;
    align-items: center;
    font-family: "Manrope";
    font-size: 16px;
    font-weight: 500;
    display: flex;
    cursor: pointer;
    background-color: #fff;
    border-radius: 11px;
}

.dropDownContainer::-webkit-scrollbar {
    display: none;
}

.filter-title {
    display: flex;
    flex-direction: row;
    margin: 17px;
    cursor: pointer;
}

.dropDownContainer {
    width: 195px;
    height: 56px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-family: "Manrope";
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 26px;
    width: 195px;
    height: 300px;
    position: relative;
    z-index: 1;
    overflow-y: scroll;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
}

.dropDownContainer ul {
    padding-left: 16px;
    line-height: 30px;
}

.dropDownContainer li {
    font-weight: 400;
}

.hidden {
    display: none;
}

.arrow-down {
    display: flex;
    padding-left: 63px;
}
.arrow-down-hidden {
    display: none;
}

.searchbar-item-list {
    font-size: 14px;
}

.filter-modal__searchBar {
    display: flex;
    border-radius: 2px;
    max-width: 163px;
    border: 1px solid #c6c6c6;
    padding: 5px;
}
