.dropDownContainer.hidden{
    display: none;
}

.selectedItemsContainer {
    display: flex;
    flex-direction: column;
    width: 195px;
    margin-top: 10px;
}

.selectedItemContainer {
    width: 195px;
    display: flex;
    background-color: #ffd15b;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 10px;
    border-radius: 10px;
}
.selectedItem{
    font-family: "Manrope";
    font-size: 14px;
    background-color:#FFD15B ;
    padding: 17px 18px;
    width: 60%
  
}

.dropDownContainer {
    width: 195px;
    height: 56px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-family: "Manrope";
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 26px;
    width: 195px;
    height: 300px;
    position: absolute;
    overflow-y: scroll;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    z-index: 2;
}

.arrowDown {
    display: flex;
    padding-left: 63px;
}

.dropdownSearchHeader.open {
    width: 195px;
    height: 56px;
    justify-content: center;
    align-items: center;
    font-family: "Manrope";
    font-size: 16px;
    font-weight: 500;
    display: flex;
    cursor: pointer;
    background-color: #fff;
    border-top-right-radius: 11px;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    user-select: none;
}

.filterModalSearchBar {
    display: flex;
    border-radius: 2px;
    max-width: 163px;
    border: 1px solid #c6c6c6;
    padding: 5px;
    gap: 10px;
    align-items: center;
}
.dropdownSearchHeader {
    width: 195px;
    height: 56px;
    justify-content: center;
    align-items: center;
    font-family: "Manrope";
    font-size: 16px;
    font-weight: 500;
    display: flex;
    cursor: pointer;
    background-color: #fff;
    border-radius: 11px;
    user-select: none;
}

.dropDownContainer::-webkit-scrollbar {
    display: none;
}

.dropdownSearchListContainer {
    width: 100%;
}

.filterTitle {
    display: flex;
    flex-direction: row;
    margin: 17px;
    cursor: pointer;
}

.dropDownContainer ul {
    padding-left: 16px;
    line-height: 30px;
}

.dropDownContainer li {
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
}

.elementName{
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.arrow-down-hidden {
    display: none;
}

.searchbar-item-list {
    font-size: 14px;
}

.filterElement {
    cursor: pointer;

}

.filterElement:hover{
    background-color: #FFD15B;
}

.searchbarInput {
    width: 93%;
    padding: 1%;
    border: none;
}

.searchbarInput:focus {
    outline: none;
}
.filters-container {
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 134px;
    padding-top: 25px;
    max-height: 100px;
}

.filter-container {
    background-color: #ededed;
    display: flex;
    gap: 66px;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 134px;
    padding-top: 25px;
    max-height: 100px;
    border-radius: 11px;
}
.dropDownFilterContainer{}

.dropdownSearchListUnselectedItems{

}
.dropdownSearchListSelectedItems{
    background-color: #FFD15B;
    margin-bottom: 30px;
}

.dropdownSearchListSelectedItems li {
    display: flex;
    justify-content: space-between;

}
    

.searchIcon{
    cursor: pointer;
}

.closeBtn {
    display: block;
    cursor: pointer;
    width: 10px;
}

.hide {
    display: none
}