.filtersContainer {
    background-color: #ededed;
    display: flex;
    flex-direction: row;
    padding-left: 134px;
    padding-top: 25px;
    
    align-items: center;
    justify-content: space-between;
}

.filterContainer {
    background-color: #ededed;
    display: flex;
    gap: 66px;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 134px;
    padding-top: 25px;
    /* max-height: 100px; */
    border-radius: 11px;
}

.selectedItemContainer {
    width: 50px;
    background-color: yellow;
}

.numberOfRecipes{
    font-family: "Anton";
    font-size: 21px;
    font-weight: 400;
    padding-right: 300px;

}